
@font-face {
    font-family: CuteDino;
    src: url('/cory-car/assets/fonts/Cute\ Dino.otf');
}
@font-face {
    font-family: CatComic;
    src: url('/cory-car/assets/fonts/Cat\ Comic.ttf');
}
@font-face {
    font-family: CatSong;
    src: url('/cory-car/assets/fonts/Cat\ Song.otf');
}
@font-face {
    font-family: DatangStory;
    src: url('/cory-car/assets/fonts/Datang\ Story.otf');
}
@font-face {
    font-family: FlyLegs;
    src: url('/cory-car/assets/fonts/FlyLegs.otf');
}
@font-face {
    font-family: KindSansThin;
    src: url('/cory-car/assets/fonts/Kind\ Sans\ Thin.otf');
}
@font-face {
    font-family: LTSuperiorMono-Regular;
    src: url('/cory-car/assets/fonts/LTSuperiorMono-Regular.otf');
}
@font-face {
    font-family: NataSans-Regular;
    src: url('/cory-car/assets/fonts/NataSans-Regular.otf');
}
@font-face {
    font-family: Padpattfonts-Regular;
    src: url('/cory-car/assets/fonts/Padpattfonts-Regular.otf');
}
@font-face {
    font-family: Sedan-Regular;
    src: url('/cory-car/assets/fonts/Sedan-Regular.ttf');
}
@font-face {
    font-family: SnackBox;
    src: url('/cory-car/assets/fonts/Snack\ Box.otf');
}



body{
    margin: 0;
    font-family: KindSansThin;
    background: powderblue;
    text-align: center;
    color:darkslategray;
}
ul{
    list-style-type: square;
    font-family: SnackBox;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    background: powderblue;
    text-align: center;
    color:darkslategray;
}
h3{
    margin: 0;
    background:powderblue;
    text-align: center;
    color:darkslategray;
}
section{
     display: flex;
     flex-direction: column;
     align-items: center;
     color: white;
     text-align: center;
     font-family: 'Helvetica', 'Arial', sans-serif;
   
     .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
   
        .not-animatable {
        width: 100px;
        height: 500px;
        background-color: #b11226;;
        margin-bottom: 10px;
        padding-top: 10px;
        }
   
        .section {
        width: 200px;
        height: 400px;
        background-color: #72bcd4;
        margin-bottom: 10px;
   
            &.second {
            background-color: green;
            }
        }
   
        .fadeup {
        transform: translateY(50px);
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 1s;
        transition-timing-function: linear;
        }
    
        .in-view {
            transform: none;
            opacity: 1;
        }
     }
   }