body{
    margin: 0;
    background: powderblue;
    text-align: center;
    color:darkslategray;
}
h1{
    margin: 0;
    background: powderblue;
    font-family: "monaco", monospace;
    text-align: center;
    color:darkslategray;
}
h2{
    margin: 0;
    background: powderblue;
    font-family: "comic sans", sans-serif;
    text-align: center;
    color:darkslategray;
}
.fadeup {
    transform: translateY(50px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.in-view {
    transform: none;
    opacity: 1;
}